.container {
  width: 100%;
}
.orderFilterNav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.pagetitleh1 {
  font-size: 32px;
}
.pagetitleP {
  font-size: 18px;
}
.cancel {
  padding: 18px 65px;
  background-color: unset;
  border: 1px solid #ff5b5b;
  border-radius: 12px;
  cursor: pointer;
}
.cancel:hover{
  background-color: #ff5b5b;
  color: white;
  transition: .5s;
}
.calendar1{
  padding: 18px 65px;
  background-color: #00B074;
  border-radius: 12px;
  border: 1px solid #00B074;
  color: white;
  outline-style: none;
  margin-left: 40px;
  cursor: pointer;
}
.calendar1:hover{
  background-color: white;
  color: black;
  border: 1px solid #00B074;
  transition: .5s;
}
.itemSection{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.aboutUser{
  width: 24%;
  background-color: aliceblue;
  border-radius: 16px;
}
.aboutOrders{
  width: 73%;
  background-color: blue;
}
.aboutUserCard > p{
  font-size: 18px;
  color: #3E4954;
  text-align: center;
}
.aboutUserCard > div:nth-child(3){
  background-color: #00B07426;
  color: #00B074;
  border-radius: 6px;
  margin: 0px auto;
  width: 93px;
  margin: 10px auto;
  padding: 8px;
  text-align: center;
  font-size: 12px;
}
.noteOrder{
  width: 100%;
  border-radius: 16px;
  background-color: #5E6C93;
}
.noteOrder h2{
  font-size: 24px;
  color: white;
  padding: 30px 0px 0px 30px;
}
.noteOrder > p{
  font-size: 14px;
  color: white;
  line-height: 26px;
  padding: 20px 0px 40px 30px;
  font-weight: 400;
  width: 340px;
}
.manzil{
  display: flex;
  align-items: center;
  background-color: #2D9CDB;
  border-radius: 16px;
}
.manzil p{
  color: white;
  width: 157px;
}