.orderDiv {
  display: flex;
  width: 100%;
  height: 68px;
  justify-content: center;
  margin: 40px 0;
  font-family: "Barlow", sans-serif;
  margin-left: 30px;
}
.calendar {
  display: flex;
  margin-left: 828px;
}
.status {
  display: flex;
  justify-content: center;
  width: 212px;
  height: 68px;
  background-color: white;
  border-radius: 12px;
}
.status img {
  width: 24px;
  height: 24px;
  margin: auto 0;
}
.status select {
  outline-style: none;
  border: none;
  font-size: 16px;
}
.th div {
  display: flex;
  align-items: center;
  justify-content: left;
}
.th img {
  width: 10px;
  height: 6px;
}
.table {
  width: 100%;
  font-family: "Barlow", sans-serif;
  border-collapse: collapse;
  margin-left: 30px;
}
.th,
.td {
  padding: 0px 60px;
}
.tr {
  height: 70px;
  background-color: #00b074;
}
.table .th:nth-child(1) {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.table .th:nth-child(6) {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.tr2 {
  height: 70px;
  background-color: white;
}
.orderStatus {
  width: 150px;
  height: 50px;
  background-color: #00b07426;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #177556;
}
